{% load static %}
<htm>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'upload/css/style.css' %}" />
        <title>Upload</title>
    </head>

    <body>
        <div class="mt-4 content-item">
            <h2 class="card-subtitle text-muted">Data For Train Format</h2>
            <embed src="{% static 'data.json' %}" class="embed-data" />
            <a href="{% static 'data.json' %}" download="demo_train_data.json"><button class="btn btn-info mt-2">
                    Download Demo Data For Train
                </button></a>
        </div>
        <div class="mt-4 content-item">
            <h2 class="card-subtitle text-muted mb-3">Submit data here</h2>
            <table  width="100%">
                <tr>
                    <td>
                        <h3>Submit using upload file data</h3>
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="data" style="width: 100px">Data</label>
                                <input type="file" class="form-control" id="data" name="file" accept=".json"
                                    aria-describedby="inputGroupFileAddon01" required />
                            </div>
                            <br>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Train</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <table width="100%">
                                    <tr>
                                        <b style="font-size: larger;">Submit using form Intent</b>
                                    </tr>
                                    <tr>
                                        <td>Tag:</td>
                                        <td><input type='text' id='tag' name='tag' size='30' required></td>
                                    </tr>
                                    <tr>
                                        <td>Pattern:</td>
                                        <td><input type='text' id='pattern' name='pattern' size='30' required></td>
                                    </tr>
                                    <tr>
                                        <td>Response:</td>
                                        <td><input type='text' id='response' name='response' size='30' required></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">Train</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
    </body>
</htm>